@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#video-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 1s ease-in;
  background-color: white !important;

}

.loader-div {
  background-color: #FEFFD2;
  width: 100%;
  height: 100%;
  z-index: 7;
  position: absolute;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  display: none;
  transition: 1s ease;
}

.loader {
  position: absolute;
  bottom: 50%;
  width: 100px;
  height: 100px;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Poppins;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;


}

.video-container {
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
}

main {

  background-color: #000;
  display: flex;

}

.video-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}



header {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-55%, -80%);
}

header h1 {
  font-weight: 700;
  font-size: 52px;
  text-transform: capitalize;
  text-align: center;

}

.fish-container {
  position: absolute;
  bottom: 5%;
  z-index: 3;
  right: 2%;
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  align-items: end;
}

section:nth-child(2) ul {

  display: flex;
}



@keyframes shake {


  0% {
    transform: translateY(20%);
  }

  50% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(20%);
  }
}

.fish-container img {
  animation: shake 1.3s;
  animation-iteration-count: infinite;
  width: 150px;


}

.fish-container:hover img {
  animation-play-state: paused;
}

.fish-container .welcome-msg::before {

  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 45px;
  bottom: -19px;

}

.fish-container .welcome-msg {
  background-color: white;
  color: black;
  padding: 10px;
  width: 170px;
  font-size: 12px;
  display: none;
  border-radius: 10px;
  position: relative;
}

.cta {
  width: 200px;
  padding: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

h2 {
  text-align: center;
}

section:nth-child(1) {
  position: absolute;
  z-index: 3;
  transition: ease 1s;
  top: 40%;
  width: 40%;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  transform: translate(-100%, -50%);

}

.prev-next-container {
  z-index: 3;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -30%;
  gap: 5px;


}

.prev-btn,
.next-btn {
  background-color: transparent;
  color: white;
  outline: none;
  z-index: 5;
  border: none;
  cursor: pointer;
}

.hr {
  width: 100%;
}



section:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  transition: ease 1s;
  top: 40%;
  width: 40%;

}

section:nth-child(2) ul li {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  transform: translate(80%, -80%);
}

.hr {

  width: 100%;
  height: 4px;
}

/* menu */

.menu {
  position: absolute;
  bottom: 5%;
  z-index: 5;
  left: 2%;
  display: flex;
  gap: 5px;
  flex-direction: column-reverse;

}

.menu-icon-div {
  background-color: white;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;

  cursor: pointer;
}

.menu img {
  width: 20px;

}

.menu-board {
  background-color: white;
  color: black;
  padding: 10px;
  display: none;
  border-radius: 10px;
}

.menu-items div {
  margin-bottom: 10px;
  font-size: 12px;
  cursor: pointer;

}

.menu-items div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* media queries */

@media screen and (max-width:1280px) {

  #video-banner {
    min-width: 100%;
    min-height: 100%;
    position: static;
    width: unset;
  }

  .video-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

}

@media screen and (max-width:768px) {

  .fish-container {
    right: 5%;
  }

  header {
    transform: translate(-50%, -80%);
  }

  .menu {
    left: 5%;
  }

  .fish-container .welcome-msg {
    display: block;
    animation-play-state: paused;
  }

  header h1 {
    font-size: 32px;
  }

  section:nth-child(2) h2 {
    display: none;

  }

  p {
    font-size: 14px;
  }

  section:nth-child(2) ul li {
    transform: translate(7%, -50%);
  }

  section:nth-child(2) ul li h3 {
    text-align: center;
  }

  section:nth-child(2) {
    width: 80%;
    top: 28%;
  }

  section:nth-child(1) {
    transform: translate(-23%, -50%);
    width: 80%;
  }

  .prev-next-container {
    width: 105%;
  }
}

@media screen and (max-width:400px) {

  .fish-container .welcome-msg {
    width: 140px;
    font-size: 10px;
  }

  .fish-container .welcome-msg::before {
    left: 77px;
  }

  .fish-container img {
    width: 100px;
  }
}